.inputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.inputContainer > p {
    position: absolute;
    top: 0;
    padding: 0.3rem 1rem;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
    background-color: gray;
    color: aliceblue;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    font-weight: bold;
}

.input {
    padding: 2.5rem 1rem 1.5rem 1rem;
    border-radius: 1rem;
    border: none;
    background-color: gainsboro;
    text-align: center;
    outline: none;
    width: 100%;
}